html{
    background-color: rgb(168, 62, 102);
}
h1{
    font-size: 62px;
    color:rgb(255, 255, 255)

}
p{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(228, 221, 221)

}
h4{
    color:rgb(255, 255, 255)
}